:root {
  --main-color: #0082C9;
  --main-color-t0: #0082C913;
  --main-color-t1: #0082C939;
  --main-color-t2: #0082C988;
}


/* buttons */
select, button, .button, input[type="button"], input[type="submit"], input[type="reset"] {
    background-color: var(--main-color-t0);
}


/* deck */

.card .card-controls button {
  box-shadow: none;
}
.card .card-controls {
  background: none;
  margin-top: -13px;
  margin-bottom: -8px;
}
.card {
    margin: 5px 5px 10px 5px;
    border-radius: 4px;
    box-shadow: 0 1px 4px -1px var(--main-color-t2);
    transition: 300ms all ease !important;
}
#board.card-selected .card:not(.current) {
    box-shadow: 0 1px 4px -2px var(--main-color-t2);
    opacity: 0.5
}
#board.card-selected .card.current{
    box-shadow: 0 1px 4px -1px var(--main-color);
    opacity: 1
}
.card:last-child {
    margin: 5px 5px 12px 5px;
}
#board {
    background-color: var(--main-color-t1);
}
.stack {
   /* box-shadow: .3em 0 .3em -.3em var(--main-color-t1); */
   border-right: 0;
   min-width: 20em;
   width: 20em;
}
.stack:last-child {
   box-shadow: none;
}
.card.create {
    border: none;
    border-radius: 3px;
    background-color: #ffffff80;
    box-shadow: inherit;
}

#app-navigation {
   border-right: 0 solid #ebebeb;
   z-index: 1500;
   //position: relative;
   box-shadow: -.2em 0 .4em .3em  var(--main-color-t1);
}

#header{
   box-shadow: 0 .3em .3em var(--main-color-t1);
}



/* tooltip */
.tooltip{
    filter: drop-shadow(0 .14em .24em var(--main-color-t1))
}

/* Main top bar menu */



:root {
  --top-menu-radius: .55em;
}




#header .header-left > nav > .menu, 
#header .header-right > div > .menu,
#header .header-left > nav > #navigation, 
.ui-datepicker, 
.ui-timepicker.ui-widget{
    filter: none;
}

#header .menu .tooltip *{
   background-color: transparent !important;
   border: 0 !important;
}

#header .popovermenu, #header .menu .tooltip{
   border: 1pt solid white !important;
   border-radius: var(--top-menu-radius) !important;
}
#header .menu, #header .menu .tooltip {
   box-shadow: 0 .2em .5em -.2em var(--main-color-t2);
   background-color: var(--main-color) !important;
}
#header .menu:not(.popovermenu) {
   border-radius: 0 0 var(--top-menu-radius) var(--top-menu-radius)!important;
}

#header .menu, #header .menu *:not(input) {
   color: white!important;
   font-weight: normal;
}
#header .menu:not(.popovermenu) img:not(.avatar), 
#header .menu:not(.popovermenu) svg, 
#header .menu:not(.popovermenu) span.icon-more {
   filter: invert(1);
}

/* remove arrows from topbar */
#body-settings #settings #expand::before,
#appmenu li a::before {
    content: none;
    display: none;
}
#header .header-left > nav > #navigation::after, .ui-datepicker::after, .ui-timepicker.ui-widget::after,
#header .header-left > nav > .menu::after, #header .header-right > div > .menu::after,.popovermenu::after{
    left: auto;
    bottom: auto;
    border: none;
    content: ' ';
    position: absolute;
    pointer-events: auto;
    margin-left: auto;
}

#header .menu:not(.popovermenu):before, #header .menu:not(.popovermenu):after, 
#header .menu:not(.popovermenu):before, #header .menu:not(.popovermenu):after {
   content: "";
   box-shadow: 0 0 0 transparent;
   position: absolute;
   height: calc(var(--top-menu-radius)*2.1)!important;
   width: calc(var(--top-menu-radius)*2.1)!important;
   bottom: calc(1*var(--top-menu-radius));
   opacity: 1;
   top: 0;
}
#header .menu:not(.popovermenu):before {
   border-top-right-radius: var(--top-menu-radius);
   box-shadow: calc(var(--top-menu-radius)/3) calc(var(--top-menu-radius)/-3) 0 var(--main-color)!important;
   left: calc(-2.1*var(--top-menu-radius));
}
#header .menu:not(.popovermenu):after {
   border-top-left-radius: var(--top-menu-radius);
   box-shadow: calc(var(--top-menu-radius)/-3) calc(var(--top-menu-radius)/-3) 0 var(--main-color)!important;
   right: calc(-2.1*var(--top-menu-radius)) !important;
}

#expanddiv {
    overflow: visible!important;
}


#appmenu li:hover a, 
#appmenu li a, 
#appmenu li a svg, 
#appmenu li span, 
#nextcloud,
.header-right .menutoggle{
   transition: .15s all ease 
}
#appmenu li a svg, 
#nextcloud{
   transform: scale(1); 
}
.header-right div:not(#settings) .menutoggle,
.header-right #settings .menutoggle:hover{
   transform: scale(1.2); 
}
.header-right div:not(#settings) .menutoggle:hover{
   transform: scale(1.6); 
}
#appmenu li:hover a svg, 
#appmenu li a.active svg{
   transform: scale(1.4); 
}
#nextcloud:hover{
   transform: scale(1.1); 
}


#appmenu li span {
   display:inline-block;
   box-shadow: 0 .3em .5em -.1em var(--main-color-t2);
   filter: none;
   background-color: var(--main-color);
   transform: translate3D(-50%,0,0);
   height: 0;
   margin: 0;
   padding: 0;
   overflow: hidden;
   color: transparent;
   border-bottom-left-radius: var(--top-menu-radius);
   border-bottom-right-radius: var(--top-menu-radius);
}
#appmenu li:hover span {
   transform: translate3D(-50%,0,0);
   opacity: 1;
   color: white;
   overflow: visible;
   
   padding: 0 8px calc(.1*var(--top-menu-radius));
   height: calc(3*var(--top-menu-radius));
}
#appmenu li span:before, #appmenu li span:after {
   content: "";
   transition: box-shadow .04s ease .04s ;
   height: 0;
   width: 0;
   box-shadow: 0 0 0 transparent;
   opacity: 0;
}
#appmenu li:hover span:before, #appmenu li:hover span:after {
   position: absolute;
   height: calc(var(--top-menu-radius)*2.1);
   width: calc(var(--top-menu-radius)*2.1);
   bottom: calc(1*var(--top-menu-radius));
   opacity: 1;
}
#appmenu li:hover span:before {
   border-top-right-radius: var(--top-menu-radius);
   box-shadow: calc(var(--top-menu-radius)/3) calc(var(--top-menu-radius)/-3) 0 var(--main-color);
   left: calc(-2.1*var(--top-menu-radius));
}
#appmenu li:hover span:after {
   border-top-left-radius: var(--top-menu-radius);
   box-shadow: calc(var(--top-menu-radius)/-3) calc(var(--top-menu-radius)/-3) 0 var(--main-color);
   right: calc(-2.1*var(--top-menu-radius));
}

label{
   border-radius: 8pt !important;
   border: 0 !important;
}

button, input, textarea, nop #app-content #add-task{
   border-radius: 5pt !important;
   border: 0 !important;
   box-shadow: 0 .075em .3em -.05em var(--main-color-t1);
}


.mail-message-summary:hover, .mail-message-summary:focus, .mail-message-summary.active,
.app-content-list .app-content-list-item:hover, .app-content-list .app-content-list-item:focus, .app-content-list .app-content-list-item.active {
	transition: background-color 0.2s ease;
	background-color: var(--main-color-t1);
}

.mail-message-summary,
#filestable tbody tr, table tr td ,
.app-content-list .app-content-list-item{
	transition: .2s background-color ease;
}

#filestable tbody tr:hover, #filestable tbody tr:focus, #filestable tbody .name:focus, #filestable tbody tr:active, #filestable tbody tr.highlighted, #filestable tbody tr.highlighted .name:focus, #filestable tbody tr.selected, #filestable tbody tr.searchresult, table tr.mouseOver td,

.app-content-list .app-content-list-item:hover, .app-content-list .app-content-list-item:focus, .app-content-list .app-content-list-item.active  {
	background-color: var(--main-color-t1);
	transition: .2s background-color ease;
}

#controls{
   /*background: white;*/
   z-index: 60;
   /*box-shadow: 0 0 .3em .3em white;*/
}

select, button, .button, input:not([type="range"]):not(.svg), textarea, div[contenteditable="true"], .pager li a {
   border-radius: 5pt !important;
   border: 0 !important;
   box-shadow: 0 .075em .3em -.04em var(--main-color-t2);
}

input[type="checkbox"].checkbox + label::before, input[type="radio"].checkbox + label::before {
    border-radius: 2.5pt;
	transition: .2s all ease;
}

table.multiselect thead th {
    background-color: transparent;
}

table td, table th, .app-content-list .app-content-list-item, .mail-message-summary{
 border-bottom: none;
 border-top: none;
}
table tr {
 /* box-shadow: 0 .2em .4em -.2em var(--main-color-t1); */
}

#mail-messages{
 border: none;
}

#expanddiv{
   overflow: hidden;
}

#expanddiv a,
.settings-button.opened, .settings-button, #app-navigation > ul > li, #app-navigation > ul > li > a {
    transition: .2s all ease-in-out;
    box-shadow: inset 0 0 var(--main-color);
    border-radius: 0 !important;
}

.settings-button.opened, .settings-button, #app-settings-content, #app-settings-header{
   border: none
}

#expanddiv a:hover, #expanddiv a:focus, #expanddiv a:active, #expanddiv a.active,
.settings-button.opened, .settings-button:hover, #app-navigation > ul > li:focus, #app-navigation > ul > li:hover, #app-navigation > ul > li.active, #app-navigation > ul > li a.selected, #app-navigation > ul > li:focus > a, #app-navigation > ul > li:hover > a, #app-navigation > ul > li.active > a, #app-navigation > ul > li a.selected > a {
    opacity: 1;
    box-shadow: inset .42em 0 var(--main-color);
}

.contact-details-wrapper input, .contact-details-wrapper textarea{
   box-shadow: none !important;
   background: var(--main-color-t1) !important;
}
 .contact-details-wrapper button{
   box-shadow: none !important;
}

button{
    transition: .2s all ease !important;
}

.modal-open .modal.popover, .modal-open .modal.import {
   border-radius: 6pt;
   box-shadow: 0 .2em .4em -.1em var(--main-color-t2);
   overflow: visible;
}
.events .events--fieldset:first-child {
    margin-top: -3em;
}
.events .events--fieldset:first-child textarea{
    opacity: 1 !important;
}


.bubble, .app-navigation-entry-menu, .popovermenu {
   filter: none;
   box-shadow: 0 .2em .5em -.2em var(--main-color-t2);
   border-radius: .8em;

}

#app-sidebar, #mail-message {
   border: none;
   box-shadow: .2em 0 .4em .3em var(--main-color-t1);
}



.oc-dialog {
   box-shadow: 0 .2em .5em -.2em var(--main-color-t2);
   border-radius: .8em;
}

.oc-dialog-dim {
    background-color: var(--main-color);
}

.msg.success {
    background-color: rgb(12, 208, 64);
    border-radius: 3pt;
    box-shadow: 0 .2em .5em -.2em rgba(12, 208, 64, 0.4);
}
#contactsmenu > .menu .contact {
    border-bottom: 0;
}

/* calendar */

.fc-event {
    border-radius: .55em;
    border: 0;
    margin-top: 1pt;
    margin-bottom: 1pt;
}
.fc th, .fc td {
    border-style: solid;
    border-width: 0;
}

.fc-unthemed td.fc-today {
    background: transparent !important
}
#fullcalendar td.fc-day.fc-sat, #fullcalendar td.fc-day.fc-sun {
    background-color: transparent;
}
.datepicker-heading button , #datepicker button {
    box-shadow: none;
}